EchoCollection.WebApi/Service References/EchoServiceClient/EchoCollectionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59137/EchoCollectionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" />
  <xs:import schemaLocation="http://localhost:59137/EchoCollectionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EchoService" />
  <xs:element name="GetCollections">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" minOccurs="0" name="GetCollectionsResult" nillable="true" type="q1:GetCollectionsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" minOccurs="0" name="request" nillable="true" type="q2:AddCollectionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" minOccurs="0" name="SaveCollectionResult" nillable="true" type="q3:AddCollectionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" minOccurs="0" name="request" nillable="true" type="q4:AddItemRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" minOccurs="0" name="SaveItemResult" nillable="true" type="q5:AddItemResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EchoService" minOccurs="0" name="composite" nillable="true" type="q6:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EchoService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q7:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>