EchoCollection.WebApi/Service References/EchoServiceClient/EchoCollectionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59137/EchoCollectionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" />
  <xs:element name="GetCollections">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" minOccurs="0" name="GetCollectionsResult" nillable="true" type="q1:GetCollectionsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" minOccurs="0" name="GetItemsResult" nillable="true" type="q2:GetItemsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" minOccurs="0" name="request" nillable="true" type="q3:AddCollectionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" minOccurs="0" name="SaveCollectionResult" nillable="true" type="q4:AddCollectionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" minOccurs="0" name="request" nillable="true" type="q5:AddCollectionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" minOccurs="0" name="UpdateCollectionResult" nillable="true" type="q6:AddCollectionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" minOccurs="0" name="request" nillable="true" type="q7:AddItemRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" minOccurs="0" name="AddItemResult" nillable="true" type="q8:AddItemResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" minOccurs="0" name="request" nillable="true" type="q9:AddItemRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" minOccurs="0" name="UpdateItemResult" nillable="true" type="q10:AddItemResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" minOccurs="0" name="GetDocTypesResult" nillable="true" type="q11:GetDocumentTypeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>