EchoCollection.WebApi/Service References/EchoServiceClient/EchoCollection.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EchoCollection" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59137/EchoCollectionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59137/EchoCollectionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59137/EchoCollectionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" />
      <xsd:import schemaLocation="http://localhost:59137/EchoCollectionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EchoService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEchoCollection_GetCollections_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCollections" />
  </wsdl:message>
  <wsdl:message name="IEchoCollection_GetCollections_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCollectionsResponse" />
  </wsdl:message>
  <wsdl:message name="IEchoCollection_SaveCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCollection" />
  </wsdl:message>
  <wsdl:message name="IEchoCollection_SaveCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="IEchoCollection_SaveItem_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveItem" />
  </wsdl:message>
  <wsdl:message name="IEchoCollection_SaveItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveItemResponse" />
  </wsdl:message>
  <wsdl:message name="IEchoCollection_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IEchoCollection_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IEchoCollection">
    <wsdl:operation name="GetCollections">
      <wsdl:input wsaw:Action="http://tempuri.org/IEchoCollection/GetCollections" message="tns:IEchoCollection_GetCollections_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEchoCollection/GetCollectionsResponse" message="tns:IEchoCollection_GetCollections_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/IEchoCollection/SaveCollection" message="tns:IEchoCollection_SaveCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEchoCollection/SaveCollectionResponse" message="tns:IEchoCollection_SaveCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IEchoCollection/SaveItem" message="tns:IEchoCollection_SaveItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEchoCollection/SaveItemResponse" message="tns:IEchoCollection_SaveItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IEchoCollection/GetDataUsingDataContract" message="tns:IEchoCollection_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEchoCollection/GetDataUsingDataContractResponse" message="tns:IEchoCollection_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEchoCollection" type="tns:IEchoCollection">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCollections">
      <soap:operation soapAction="http://tempuri.org/IEchoCollection/GetCollections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCollection">
      <soap:operation soapAction="http://tempuri.org/IEchoCollection/SaveCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveItem">
      <soap:operation soapAction="http://tempuri.org/IEchoCollection/SaveItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IEchoCollection/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EchoCollection">
    <wsdl:port name="BasicHttpBinding_IEchoCollection" binding="tns:BasicHttpBinding_IEchoCollection">
      <soap:address location="http://localhost:59137/EchoCollectionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>