EchoCollection.WebApi/Service References/EchoServiceClient/EchoCollectionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EchoService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetCollectionsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="collections" nillable="true" type="tns:ArrayOfCollection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCollectionsResponse" nillable="true" type="tns:GetCollectionsResponse" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseType" type="tns:ResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:simpleType name="ResponseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Failed" />
      <xs:enumeration value="Succeeded" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResponseType" nillable="true" type="tns:ResponseType" />
  <xs:complexType name="ArrayOfCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Collection" nillable="true" type="tns:Collection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCollection" nillable="true" type="tns:ArrayOfCollection" />
  <xs:complexType name="Collection">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsPrivate" type="xs:boolean" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfItem" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Collection" nillable="true" type="tns:Collection" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsPrivate" type="xs:boolean" />
      <xs:element minOccurs="0" name="Metadata" nillable="true" type="tns:Metadata" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="Metadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abstract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Extra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rights" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Metadata" nillable="true" type="tns:Metadata" />
  <xs:complexType name="AddCollectionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Collection" nillable="true" type="tns:Collection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddCollectionRequest" nillable="true" type="tns:AddCollectionRequest" />
  <xs:complexType name="AddCollectionResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="CollectionId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddCollectionResponse" nillable="true" type="tns:AddCollectionResponse" />
  <xs:complexType name="AddItemRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddItemRequest" nillable="true" type="tns:AddItemRequest" />
  <xs:complexType name="AddItemResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddItemResponse" nillable="true" type="tns:AddItemResponse" />
</xs:schema>